.page {
  display: flex;
  flex: 1 0 auto;
}

.sidebar {
  padding: 20px 0;
  flex: 0 0 300px;
  background: #404040;
  color: #fff;
}

.main {
  flex: 1 1 auto;

  &__header {
    padding: 20px 0;
    background: #fff;
  }

  &__content {
    padding: 20px 0;
  }
}
