.form {
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.phoneField {
  position: relative;

  &::before {
    content: '+7';
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__control {
    padding-left: 30px;
  }
}
