html,
body {
  height: 100%;
}

body {
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

input {
  color: inherit;
}
